<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>Kasir PRO</title>
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="icon" href="../../img/logo.png">
    <!-- <link rel="stylesheet" href="/Anoms-Transc-KasirMieAyam/style/style.css"> -->
    <style>
        .main {
            margin-right: 320px;
        }
    </style>
</head>

<body>
    <div class="container">

        <!-- SIDEBAR -->
        <div class="sidebar">
            <img src="../../img/logo.png" alt="logo">
            <!-- <h2>ANOMS</h2> -->
            <button onclick="bukaHome()">🏠 Home</button>
            <button class="active">🍽️ Kasir</button>
            <button id="menu-admin" onclick="bukaHistory()">📊 History Transaction</button>
            <button onclick="logout()">Logout</button>
        </div>

        <!-- MENU -->
        <div class="main">
            <div class="topbar">
                <input type="text" id="search" placeholder="Cari menu..." onkeyup="searchMenu()">
            </div>
            <!-- <button onclick="filter('all')">🍽️ All</button>
            <button onclick="filter('mie')">🍜 Mie</button>
            <button onclick="filter('minum')">🥤 Minum</button> -->
            <div class="grid" id="menu-list"></div>
        </div>

        <!-- CART -->
        <div class="cart">
            <h2>🧾 Order</h2>
            <div id="cart-list"></div>

            <div class="summary">
                <p>Subtotal: Rp <span id="subtotal">0</span></p>
                <p>Pajak (10%): Rp <span id="tax">0</span></p>
                <p>Total: Rp <span id="total">0</span></p>

                <!-- <input type="number" id="bayar" placeholder="Uang Bayar"> -->
                <input type="number" id="bayar" placeholder="Masukkan uang bayar">
                <p>Kembalian: Rp <span id="kembali">0</span></p>

                <button onclick="prosesBayar()">💳 Bayar Sekarang</button>
            </div>
        </div>

    </div>

    <!-- STRUK -->
    <!-- STRUK -->
    <div id="struk" class="struk">
        <h3>WARUNG MIE AYAM</h3>
        <p>Jl. Contoh No.1</p>
        <p>No: <span id="s-no"></span></p>
        <p>Tanggal: <span id="s-tanggal"></span></p>
        <hr>

        <div id="s-list"></div>

        <hr>
        <div class="struk-row">
            <span>Total</span>
            <span>Rp <span id="s-total"></span></span>
        </div>
        <div class="struk-row">
            <span>Bayar</span>
            <span>Rp <span id="s-bayar"></span></span>
        </div>
        <div class="struk-row">
            <span>Kembali</span>
            <span>Rp <span id="s-kembali"></span></span>
        </div>

        <hr>
        <p style="text-align:center">Terima Kasih 🙏</p>
    </div>

    <script type="module" src="../../script/script.js"></script>
    <script type="module">
        import { checkAuth } from "../../script/auth.js";

        checkAuth(["admin", "kasir"]);
    </script>
</body>

</html>